<div class = "sidebar-container">
    <app-bpmn-element data = "Ereignis" [type]="element-event"></app-bpmn-element>
    <app-bpmn-element data = "Aktivitaet" [type]="element-event"></app-bpmn-element>
    <app-bpmn-element data = "Verbindung" [type]="element-event"></app-bpmn-element>
    <app-bpmn-element data = "Datenobjekt" [type]="element-event"></app-bpmn-element>
    <app-bpmn-element data = "Datenobjekt" [type]="element-event"></app-bpmn-element>
    <app-bpmn-element data = "Datenobjekt" [type]="element-event"></app-bpmn-element>
    <app-bpmn-element data = "Datenobjekt" [type]="element-event"></app-bpmn-element>
</div>

